RewriteEngine On

# If the requested resource does not exist as a file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite to index.php while preserving the requested path
RewriteRule ^(.*)$ index.php?/$1 [L,QSA]
